MONGO_URI=mongodb://127.0.0.1:27017/qr_e_menu
PORT=5000
JWT_SECRET=supersecretkey
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=

# To generate a hash, you can run in Node:
# const bcrypt = require('bcryptjs'); bcrypt.hash('admin123', 10).then(console.log);

